<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.honma.finder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>37BFEC5A-73C2-4A3E-A126-E9D7C129BAEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8443F523-4F71-4D75-A9FE-BA2E696FA11F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D86AF62-96BB-4EDB-BB59-C17925B98141</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8443F523-4F71-4D75-A9FE-BA2E696FA11F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4628BBF-DA8C-4EE3-AD94-9BEE01686780</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D86AF62-96BB-4EDB-BB59-C17925B98141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tamio Honma</string>
	<key>description</key>
	<string>Open the Finder or reveal favorite folders quickly</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Go to Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>~</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>37BFEC5A-73C2-4A3E-A126-E9D7C129BAEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>103</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8443F523-4F71-4D75-A9FE-BA2E696FA11F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","arg":"~"},{"title":"Downloads","arg":"~\/Downloads"},{"title":"Desktop","arg":"~\/Desktop","subtitle":"Schreibtisch"},{"title":"Documents","arg":"~\/Documents","subtitle":"Dokumente"},{"title":"Google Drive","arg":"\/Volumes\/GoogleDrive\/Meine Ablage","subtitle":"Meine Ablage"},{"title":"Pictures","arg":"~\/Pictures","subtitle":"Bilder"},{"title":"Webstorm Projects","arg":"\/Users\/tamio\/WebstormProjects"},{"title":"Applications","arg":"\/System\/Applications","subtitle":"Programme"},{"title":"Root","arg":"\/"}]</string>
				<key>keyword</key>
				<string>finder</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Explore Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6D86AF62-96BB-4EDB-BB59-C17925B98141</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E4628BBF-DA8C-4EE3-AD94-9BEE01686780</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Inspired by https://youtu.be/4YreMtfehE4?t=1276

Reminded me of the Windows + E command, which I use on Windows whenever I use PCs.

I've extended that idea a bit by a quick menu to jump directly into one of the most common folders.</string>
	<key>uidata</key>
	<dict>
		<key>37BFEC5A-73C2-4A3E-A126-E9D7C129BAEE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>6D86AF62-96BB-4EDB-BB59-C17925B98141</key>
		<dict>
			<key>note</key>
			<string>Configure the list in this node to reveal your favorite folders</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>8443F523-4F71-4D75-A9FE-BA2E696FA11F</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E4628BBF-DA8C-4EE3-AD94-9BEE01686780</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/IOIO72/alfred-finder</string>
</dict>
</plist>
